label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

body {
    background-color: rgb(195, 169, 169);
    font-family: 'Poppins', sans-serif;
}

#map {
    height: 98vh;
    width: 99vw;
    position: absolute;
    top:10px;
    z-index: -2;
    overflow: hidden;
}
#control-panel{
    background-color: rgba(0, 0, 0, 0.561);
    position: absolute;
    top:0px;
    left: 0px;
    width: 97vw;
    padding: 20px;
}
.mapboxgl-popup-content {
    background-color: rgba(0, 0, 0, 0.52);
    width: 300px;
    height: 300px;
    padding: 20px;
    position: absolute;
}



.map-markers{
    opacity:80%;
    width: 100px;
    height: 100px;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: solid rgb(175, 133, 133) 3px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    z-index: 2;
}
.marker-active:hover{
    filter: grayscale(50%);
}

#image-preview{
    position: absolute;
    top: 40px;
    left: 400px;
}

.marker-text{
    color: white;
    filter: blur(-2px);
    font-size: 15px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.719);
}