label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

body {
    background-color: rgb(195, 169, 169);
}

#map {
    height: 98vh;
    width: 99vw;
    position: absolute;
    top:10px;
    z-index: -2;
    overflow: hidden;
}
#control-panel{
    background-color: rgba(0, 0, 0, 0.561);
    position: absolute;
    top:0px;
    left: 0px;
    width: 100vw;
    padding: 20px;
}
.mapboxgl-popup-content {
    background-color: rgba(236, 236, 236, 0.829);
    height: 200px;
    width: 200px;
}


.map-markers{
    opacity:80%;
    background-size: 78px 78px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: solid rgb(175, 133, 133) 3px;
    border-radius: 50%;
    width: 78px;
    height: 78px;
    cursor: pointer;
    position: absolute;
    z-index: 999;
}
.map-markers:hover{
    opacity:100%;
    border: solid rgb(121, 93, 93) 3px;
    cursor: pointer;
}

